#email--section,
#payments--section,
#google--section,
#more--section,
#additions {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 70%;
  margin: 0 auto;

  @include mq(320px) {
    flex-direction: column;
    width: 50%;
    margin: 5px 0px;
  }

  .email--content,
  .payments--content,
  .google--content,
  .more--content,
  .additions--content {
    border: 1px solid $border-color;
    padding: 1.4rem;
    border-radius: 3px;
    transition: all 0.6s ease;

    @include mq(320px) {
      margin: 5px 0;
      width: 150%;
    }

    @include mq(440px) {
      margin: 5px 10px;
      margin-left: 100px;
    }

    @include mq(550px) {
      margin: 5px 10px;
      margin-left: 100px;
    }

    .text--header {
      text-transform: uppercase;
      font-weight: bolder;
      margin-bottom: 0.4rem;

      @include mq(320px) {
        text-align: left;
      }
    }

    .text--content {
      font-weight: bolder;
      font-size: 0.8rem;
    }

    &:hover {
      cursor: pointer;
      transform: scale(1.04);
      z-index: 10;
    }
  }
}

.email--header,
.payments--header, 
.google--header,
.more--header {
  h3 {
    font-weight: bolder;
    margin-bottom: 1rem;
    margin-left: 10rem;

    @include mq(320px) {
      margin-left: 3rem;
      margin-top: 2rem;
    }
  }
}

#additions {
  margin-top: 1rem;
}

#new--functions {
  text-align: left;
  width: 50%;
  margin: 0 auto;

  @include mq(320px) {
    margin: 0px -40px;
    width: 100%;
  }

  .new--functions--area {
    background: rgb(210, 234, 241);
    padding: 1.5rem 1rem;
    border-radius: 3px;

    @include mq(320px) {
      margin: 0px -40px;
      width: 100%;
    }

    .new--functions--header {
      margin-bottom: 0.5rem;

      @include mq(320px) {
        font-size: 1rem;
      }
    }

    p.text {
      margin-bottom: 0.5rem;
    }

    .input {
      width: 100%;
      display: flex;
      align-items: center;
      background: $background-color;
      
      input[type="email"] {
        width: 100%;
        padding: 0.6rem;
        border: none;
        outline: none;
      }
      
      input[type=email] {
        font-weight: bolder;
        font-family: $font-stack;
        font-size: 1rem;
      }

      button {
        padding: 0.4rem;
        outline: none;
        border: none;
        text-transform: uppercase;
        background: rgb(2, 2, 41);
        color: white;
        font-weight: bolder;
        font-family: $font-stack;
        margin-right: 0.5rem;

        &:hover {
          cursor: pointer;
        }
      }
    }
  }
}

section#faq {
  width: 50%;
  margin: 0 auto;

  @include mq(320px) {
    margin: 0px -20px;
    width: 70%;
  }

  .faq--header {
    h3 {
      text-transform: uppercase;
      text-align: center;
      margin: 1rem 0;
      font-family: $font-stack;
      font-weight: bolder;

      @include mq(320px) {
        font-size: 0.9rem;
      }

      @include mq(440px) {
        font-size: 0.9rem;
      }

      @include mq(550px) {
        font-size: 1.5rem;
      }
    }
  }
  
  .faq--content {
    margin-top: 1rem;
    margin-bottom: 1rem;

    .question--answer {
      overflow: hidden;
      
      .question {
        padding-top: 1rem;
        padding-bottom: 1rem;
        position: relative;

        @include mq(320px) {
          font-size: 0.8rem;
        }

        @include mq(440px) {
          font-size: 0.9rem;
        }

        @include mq(550px) {
          font-size: 1rem;
        }
        
        p {
          font-weight: bolder;
          font-family: $font-stack;
          text-transform: uppercase;
          padding-bottom: 0.7rem;
          border-bottom: 1px solid grey;

          
          
          &::after {
            content: "+";
            position: absolute;
              right: 5px;
            }

            &:hover {
              cursor: pointer;
            }
          }
      }
      
      .answer {
        height: 0px;
        transition: all 0.3s ease;

        @include mq(320px) {
          font-size: 0.7rem;
        }

        @include mq(440px) {
          font-size: 0.9rem;
        }

        @include mq(550px) {
          font-size: 0.9rem;
        }
      }
    }

    .question--answer.active .answer {
      height: 100px;
    }

    .question--answer.active .question p::after {
      content: "-";
      position: absolute;
      right: 5px;
    }
  }

}